.create__name {
    width: 100%;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);

    &__box {
        position: relative;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        width: 30%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background: linear-gradient(to bottom, #ffffff, #d4f3ff);
        border-radius: 40px;
        opacity: 90%;

        .box__tiltle {
            width: 50%;
            font-size: 30px;
            padding: 10px;
        }

        .box__group {
            padding: 20px;
            width: 80%;

            input {
                margin-top: 10px;
            }

            &__btn {
                button {
                    margin: 20px;
                }
            }
        }

        .box__close {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
            border: 2px solid red;

        }

    }
}